html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: .2em .5em .3em;
}

h1 {
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 3rem;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 1.875rem;
  margin: 0 .75em;
}

small {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
  width: 100%;
  display: block;
}

p {
  color: #2f2d13;
  font-family: Georgia;
  font-size: 1.125rem;
  padding: .75em;
}

nav li {
  display: inline-block;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav li {
  text-align: center;
}

.nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #b20953;
  color: #fff;
}

.nav .current {
  background-color: #cc1465;
}

img {
  padding: .75em;
  width: 100%;
  display: block;
}
