html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding-bottom: .3em;
}

h1 {
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 3rem;
  margin: 0;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One";
  font-size: 1.875rem;
  padding: .75em .5em;
  margin: 0;
}

small {
  background-color: #ffe500;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 4em;
  display: block;
  font-size: .75rem;
}

p {
  color: #2f2d13;
  font-family: Georgia;
  font-size: 1rem;
  padding: .75em;
  margin: 0;
  padding-top: 0;
}

nav li {
  display: inline-block;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav li {
  text-align: center;
}

.nav a {
  display: inline-block;
  padding: .3em .5em;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.nav a:hover {
  background-color: #b20953;
  color: #fff;
}

.nav .current {
  background-color: #cc1465;
}

ul {
  margin: 0;
}

img {
  padding: .75em;
  width: 100%;
  display: block;
  padding-top: 0;
  margin-bottom: 1rem;
}

.grapes {
  margin-bottom: .5rem;
}
